*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  80% {
    transform: translateY(0.7rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem !important; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInBottom .5s ease-out .5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.15rem); }

.card {
  perspective: 100rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .4s ease;
    font-size: 10rem;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    overflow: hidden; }
    .card__side--forge {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(135deg, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(135deg, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(135deg, #2998ff, #5643fa); }
  .card:hover .card__side--forge {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    margin-bottom: 2rem; }
    .card__picture--1 {
      background-image: linear-gradient(45deg, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(45deg, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(45deg, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 1.5rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: .5rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__detail ul {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    padding: 0; }
    .card__detail ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1.2rem 1rem; }
      .card__detail ul li:not(:last-child) {
        border-bottom: 0.1rem solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 300;
    color: #fff; }
    .card__price-value::before {
      content: "Only";
      display: block;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem; }

.composition {
  position: relative;
  height: 30rem; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    transition: all .2s; }
    .composition__photo--p1 {
      top: -1rem; }
    .composition__photo--p2 {
      top: 3rem;
      right: 0; }
    .composition__photo--p3 {
      top: 9rem;
      left: 20%; }
    .composition__photo:hover {
      transform: scale(1.1);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 100;
      padding: 1.1rem;
      border: 1.3rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: .5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
  transition: transform .2s; }
  .feature-box:hover {
    transform: scale(1.03) translateY(-1.5rem); }
  .feature-box__icon {
    display: inline-block;
    font-size: 6rem;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9));
    -webkit-background-clip: text;
    color: transparent; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: .3rem solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media (max-width: 37.5em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.3rem solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 0.3rem solid #ff7730; }
  .form__input::placeholder {
    color: #777; }

.form__label {
  display: block;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  transition: all .3s; }

.form__input:placeholder-shown ~ .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
  font-size: 1.5rem; }

.form__radio-group {
  display: inline-block;
  width: 49.5%; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0rem;
  top: -.4rem;
  transition: all .3s; }
  .form__radio-btn::after {
    content: "";
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #55c57a;
    opacity: 0; }

.form__radio-input {
  display: none; }

.form__radio-input:checked ~ .form__radio-label > .form__radio-btn::after {
  opacity: 1; }

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -1.5rem;
    right: -1.5rem;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3); }
    .popup__close::before, .popup__close::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: block;
      width: 50%;
      height: .1rem;
      background-color: #333;
      transition: all .3s; }
    .popup__close::before {
      transform: translate(-50%, -50%) rotate(45deg); }
    .popup__close::after {
      transform: translate(-50%, -50%) rotate(-45deg); }
    .popup__close:hover::before {
      transform: translate(-50%, -50%) rotate(225deg) scale(1.2); }
    .popup__close:hover::after {
      transform: translate(-50%, -50%) rotate(135deg) scale(1.2); }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 70%;
    height: 60%;
    border-radius: .5rem;
    display: table;
    opacity: .2;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all .3s .2s; }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 90%;
        max-height: 70%; } }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__left {
    width: 33.333333%;
    display: table-cell;
    overflow: hidden;
    border-radius: .5rem 0 0 .5rem; }
    @media (max-width: 37.5em) {
      .popup__left {
        display: block;
        width: 100%; } }
  .popup__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 37.5em) {
      .popup__right {
        display: block;
        width: 100%; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media (max-width: 37.5em) {
      .popup__img {
        display: inline-block;
        width: 49.5%; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 0.1rem solid #f7f7f7; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  transform: skewX(-10deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      transform: skew(0);
      padding: 4rem; } }
  .story > * {
    transform: skewX(10deg); }
    @media (max-width: 56.25em) {
      .story > * {
        transform: skew(0); } }
  .story__shape {
    margin: 0;
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 6rem;
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-3rem) scale(1.2, 1.2);
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-3rem) scale(1, 1);
    filter: blur(0.3rem) brightness(80%); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  @media (max-width: 37.5em) {
    .footer {
      padding: 6rem 0; } }
  .footer__logo-box {
    margin-bottom: 8rem; }
    @media (max-width: 37.5em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    display: block;
    width: 15rem;
    margin: 0 auto; }
  .footer__navi {
    display: inline-block;
    border-top: 0.1rem solid #777;
    padding: 2rem 0; }
    @media (max-width: 56.25em) {
      .footer__navi {
        width: 100%; } }
  .footer__list {
    list-style: none; }
    @media (max-width: 56.25em) {
      .footer__list {
        text-align: center; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 3rem; }
      @media (max-width: 37.5em) {
        .footer__item:not(:last-child) {
          margin-right: 1rem; } }
  .footer__link {
    padding: .3rem .7rem;
    transition: all .3s; }
    .footer__link:link, .footer__link:visited {
      color: #eee;
      text-decoration: none;
      display: inline-block; }
    .footer__link:hover, .footer__link:active {
      background-color: #222;
      color: #55c57a;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
      transform: scale(1.1); }
  .footer__copyright {
    border-top: 0.1rem solid #777;
    padding: 2rem 0;
    float: right;
    width: 93%; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 75em) {
    .row {
      max-width: 80rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 50rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc((100% - 6rem * 2) / 3 * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem * 3) / 4 * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc((100% - 6rem * 3) / 4 * 3 + 6rem * 2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 75em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navi__checkbox {
  display: none; }

.navi__btn {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 200;
  text-align: center;
  opacity: 1;
  cursor: pointer; }
  .navi__btn:hover {
    color: #fff; }
  @media (max-width: 37.5em) {
    .navi__btn {
      top: 3rem;
      right: 3rem; } }

.navi__icon {
  position: relative;
  margin-top: 3rem; }
  .navi__icon, .navi__icon::before, .navi__icon::after {
    display: inline-block;
    width: 3rem;
    height: .2rem;
    background-color: #333; }
  .navi__icon::before, .navi__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navi__icon::before {
    top: -.8rem; }
  .navi__icon::after {
    top: .8rem; }

.navi__btn:hover > .navi__icon::before {
  top: -1rem; }

.navi__btn:hover > .navi__icon::after {
  top: 1rem; }

.navi__checkbox:checked ~ .navi__btn > .navi__icon {
  background-color: transparent; }

.navi__checkbox:checked ~ .navi__btn > .navi__icon::before, .navi__checkbox:checked ~ .navi__btn > .navi__icon::after {
  top: 0; }

.navi__checkbox:checked ~ .navi__btn > .navi__icon::before {
  transform: rotate(135deg); }

.navi__checkbox:checked ~ .navi__btn > .navi__icon::after {
  transform: rotate(-135deg); }

.navi__checkbox:checked ~ .navi__btn:hover > .navi__icon::before {
  transform: rotate(135deg) scale(1.1); }

.navi__checkbox:checked ~ .navi__btn:hover > .navi__icon::after {
  transform: rotate(-135deg) scale(1.1); }

.navi__background {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
  z-index: 100;
  text-align: center;
  line-height: 6rem;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); }
  @media (max-width: 37.5em) {
    .navi__background {
      top: 3rem;
      right: 3rem; } }

.navi__checkbox:checked ~ .navi__background {
  transform: scale(70); }

.navi__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.5, 0, 0.5, 0.7); }

.navi__checkbox:checked ~ .navi__nav {
  height: 100vh;
  width: 100vw;
  opacity: 1; }

.navi__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navi__item {
  margin: 1rem; }

.navi__link:link, .navi__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 220%;
  padding: 1rem 2rem;
  transition: all .3s; }
  @media (max-width: 37.5em) {
    .navi__link:link, .navi__link:visited {
      font-size: 2rem; } }

.navi__link:hover, .navi__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.section__about {
  background-color: #f7f7f7;
  padding: 25rem 6rem;
  margin-top: -20rem; }
  @media (max-width: 56.25em) {
    .section__about {
      padding: 20rem 6rem; } }

.section__features {
  padding: 20rem 6rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section__features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section__features {
      padding: 15rem 6rem; } }

.section__tours {
  background-color: #f7f7f7;
  padding: 25rem 6rem 15rem;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section__tours {
      padding: 20rem 6rem 10rem; } }

.section__stories {
  padding: 15rem 6rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section__stories {
      padding: 10rem 4rem; } }

.section__booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem; }
  @media (max-width: 75em) {
    .booking {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 70%, transparent 70%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media (max-width: 37.5em) {
    .booking {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/nat-10.jpg);
      background-size: cover; } }
  .booking__form {
    width: 45%;
    padding: 5rem;
    box-sizing: border-box; }
    @media (max-width: 75em) {
      .booking__form {
        width: 70%; } }
    @media (max-width: 37.5em) {
      .booking__form {
        width: 100%; } }
