.navi {
    &__checkbox {
        display: none;
    }

    &__btn {
        position: fixed;
        top: 6rem;
        right: 6rem;
        width: 6rem;
        height: 6rem;
        background-color: $color-white;
        border-radius: 50%;
        z-index: 200;
        text-align: center;
        opacity: 1;
        cursor: pointer;

        &:hover {
            // background-color: $color-primary;
            color: $color-white;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__icon {
        position: relative;
        margin-top: 3rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: .2rem;
            background-color: $color-dark-1;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__btn:hover > &__icon {
        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }

    &__checkbox:checked ~ &__btn > &__icon {
        & {
            background-color: transparent;
        }

        &::before,
        &::after {
            top: 0;
        }

        &::before {
            transform: rotate(135deg);
        }

        &::after {
            transform: rotate(-135deg);
        }
    }

    &__checkbox:checked ~ &__btn:hover > &__icon {
        &::before {
            transform: rotate(135deg) scale(1.1);
        }

        &::after {
            transform: rotate(-135deg) scale(1.1);
        }
    }

    &__background {
        position: fixed;
        top: 6rem;
        right: 6rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        box-shadow: 0 0 1.5rem rgba($color: $color-black, $alpha: 0.4);
        z-index: 100;
        text-align: center;
        line-height: 6rem;
        // transform: scale(70);

        transition: all .5s cubic-bezier(0.47, 0, 0.745, 0.715);

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(70);
    }

    &__nav {
        height: 100vh;
        // width: 100vw;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        opacity: 0;
        transition: all .7s cubic-bezier(0.5, 0, 0.5, 0.7);
    }

    &__checkbox:checked ~ &__nav {
        height: 100vh;
        width: 100vw;
        opacity: 1;
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color-white;
            background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
            background-size: 220%;
            padding: 1rem 2rem;
            transition: all .3s;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
}